.FilterGame{
  height: 30vh;
  margin-top: 40px;
}

.FilterGame h1{
  margin-bottom: 40px;
}

.ContainerFiltersAndSearch{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ContainerSearchBar{
  display: flex;
  align-items: center;
  width: 60%;
}

.ContainerSearchBar p{
  margin-left: 30px;
  margin-right: 30px;
}

.ContainerSearchBar input{
  width: 56%;
}

.ContainerCatDevFilter{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.ContainerCatDevFilter p{
  width: 40%;
  text-align: left;
}

.ContainerCategoryFilter,
.ContainerDeveloperFilter{
  display: flex;
}

.ContainerBtnFilter{
  display: flex;
  justify-content: flex-start;
  width: 15%;
}

.ContainerAllGamesFilter{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ContainerLineFilter{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.LineFilter{
  width: 80%;
  height: 0.5px;
  border: 0;
  background-color: var(--main-color-purple);
  box-shadow: 0 1px 2px var(--main-color-purple);
}