.Login{
  height: 30vh;
  margin-top: 40px;
}

.Login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.Login label{
  margin-bottom: 10px;
}

.Login .ContainerFormElem{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

.Login .ContainerFormElem:first-child{
  margin-bottom: 40px;
}

.Login .ConnectionBtn{
  margin-top: 20px;
}